.risk-analysis-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #ffffff 0%, #6e6969 100%);
}

mat-card-header a {
    color: #f44336;
}

.risk-analysis-warn-card {
    background-color: orange;
    font-size: medium;
    font-weight: 400;
    width: 80%;
    margin-left: 10%;
    padding: 8px;
}

.risk-analysis-file-card {
    background-color: transparent;
    color: black;
    width: 90%;
    margin-left: 4%;
    border: none;
    box-shadow: none;
    padding-top: 0;
}

mat-form-field {
    width: 100%;
    font-size: 16px;
}


mat-hint {
    color: black;
}
mat-label {
    color: black;
}
::ng-deep.mat-form-field-underline {
    background-color: black !important;
} 
::ng-deep.mat-form-field-ripple {
    background-color: black !important;;
}

button.mat-button-disabled {
    color: gray !important;
}

mat-card-content.mat-card-content {
    margin-bottom: 0;
}