<div mat-dialog-content>
    <h1>Giriş Yap</h1>
    <form (ngSubmit)="login()">
        <mat-form-field appearance="standard">
            <mat-label>Kullanıcı Adı</mat-label>
            <input matInput [formControl]="username" autocomplete="no" spellcheck="false" (keyup)="UsernameOnKeyup($event)"/>
            <mat-error *ngIf="username.invalid">Kullanıcı adı giriniz.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Parola</mat-label>
            <input #passwordInput matInput [formControl]="password" type="password" (keyup)="PasswordOnKeyup($event)"/>
            <mat-icon matSuffix class="login-peep-button" (click)="PeepButtonOnClick()">remove_red_eye</mat-icon>
            <mat-error *ngIf="password.invalid">Parola giriniz.</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [disabled]="username.invalid || password.invalid" (click)="login()"
    [mat-dialog-close]="true">Giriş Yap</button>
</div>
